// Body
// $body-bg: #f8fafc;
$body-bg: #eef2f7;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

$blue: #3d73dd;
$indigo: #727cf5;
$purple: #536de6;
$pink: #ff679b;
$red: #ff5b5b;
$orange: #fd7e14;
$yellow: #f9c851;
$green: #10c469;
$teal: #02a8b5;
$cyan: #35b8e0;
$white: #fff;
$gray: #98a6ad;
$gray-dark: #343a40;
$primary: #536de6;
$secondary: #6c757d;
$success: #10c469;
$info: #35b8e0;
$warning: #f9c851;
$danger: #ff5b5b;
$light: #eef2f7;
$dark: #323a46;
